<div class="row">
  <h2>Agreements you have created:</h2>
  <% if @agreements.any? %>
    <ul>
      <% @agreements.each do |agreement| %>
        <li>
          <%= link_to agreement_path(agreement.user_name, agreement.repo_name) do %>
            <%= agreement.user_name %>/<%= agreement.repo_name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You haven't created any agreements.</p>
  <% end %>
</div>

<div class="row">
  <h2>Agreements you have signed:</h2>
  <% if @signatures.any? %>
    <ul>
      <% @signatures.each do |signature| %>
        <% agreement = signature.agreement %>
        <li>
          <%= link_to agreement_path(agreement.user_name, agreement.repo_name) do %>
            <%= agreement.user_name %>/<%= agreement.repo_name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You haven't signed any agreements.</p>
  <% end %>
</div>

<div class="row form-actions">
  <p><%= link_to "Create a new agreement", "/auth/github", class: 'btn btn-primary' %></p>
</div>
