<div class="row">
  <h2>Agreements you have created:</h2>
  <% if @agreements.any? %>
    <ul id="my-agreements">
      <% @agreements.each do |agreement| %>
        <li>
          <%= link_to agreement.name, agreement_path(agreement) %> <%= link_to "Edit", edit_agreement_path(agreement), class: 'btn btn-default btn-small' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You haven't created any agreements.</p>
  <% end %>
</div>

<div class="row">
  <h2>Agreements you have signed:</h2>
  <% if @signatures.any? %>
    <ul>
      <% @signatures.each do |signature| %>
        <% agreement = signature.agreement %>
        <li>
          <%= link_to agreement_path(agreement) do %>
            <% agreement.repositories.each do |r| %>
              <%= r.user_name %>/<%= r.repo_name %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You haven't signed any agreements.</p>
  <% end %>
</div>

<% if @member_of_hybridgroup %>
  <div class="row form-actions">
    <p><%= link_to "Create a new agreement", new_agreement_path, class: 'btn btn-primary' %></p>
  </div>
<% end %>
