<%= form_for(@agreement) do |form| %>
  <%= form.error_messages %>

  <legend>Choose a project and your agreement</legend>

  <%= form.label :user_name_repo_name, "Choose a repo:" %>
  <select name="agreement[user_name_repo_name]" id="user-name-repo-name" class="select-chosen" data-placeholder="GitHub repositories for <%= current_user.nickname %>" style="width:350px;" tabindex="1">
    <option value=""></option>
    <% @repos.each do |repo| %>
      <option value="<%= owner_slash_name(repo) %>">
        <%= owner_slash_name(repo) %>
      </option>
    <% end %>
  </select>

  <%= form.label :text, "Enter your agreement text:" %>

  <ul id="agreement-editor-tabs" class="nav nav-tabs">
    <li class="active"><a class="tab-edit" href="#edit-agreement" data-toggle="tab">Edit</a></li>
    <li><a class="tab-preview" href="#preview-agreement" data-toggle="tab">Preview</a></li>
  </ul>

  <div id="agreement-editor-content" class="tab-content">
    <div class="tab-pane active" id="edit-agreement">
      <%= form.text_area :text, placeholder: 'I, the contributor, agree to...', class: "span12", rows: 10 %>
      <span class="help-block">(You can use <a href="http://kramdown.rubyforge.org/syntax.html">Markdown formatting</a>.)</span>
    </div>
    <div class="tab-pane" id="preview-agreement">
      <div class="preview-spinner progress progress-striped active">
        <div class="bar" style="width: 100%;"></div>
      </div>
      <div class="preview well">
      </div>
    </div>
  </div>

  <div class="field-selection-group">
    <label>Choose any extra fields to require on your agreement:</label>
    <ul class="unstyled">
      <%= form.fields_for :agreement_fields, @agreement.agreement_fields.sort_by(&:ordering) do |f| %>
        <li>
          <%= f.hidden_field :field_id %>
          <%= f.check_box :enabled %>
          <%= f.label :enabled, f.object.field.label %>
        </li>
      <% end %>
    </ul>
  </div>


  <div class='form-actions'>
    <%= form.button 'Create agreement', :class => 'btn btn-primary' %>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    //<![CDATA[
      $(function() {
        $('select.select-chosen').chosen({ search_contains: true });

        (function() {
          var previewTab = $('ul#agreement-editor-tabs a.tab-preview'),
              source     = $('div#agreement-editor-content textarea'),
              preview    = $('div#preview-agreement div.preview'),
              spinner    = $('div#preview-agreement div.preview-spinner');

          previewTab.on('shown', function (e) {
            preview.hide();
            spinner.show();

            $.ajax({
              url: '/markdown_preview',
              type: 'POST',
              data: { source: source.val() },
              dataType: 'html',
              accepts: { html: 'application/json' }
            }).success(function(newHtml, _, xhr) {
              preview.html(newHtml).show();
              spinner.hide();
            });
          })
        })();
      });
    //]]>
  </script>
<% end %>
