<%= form_for(@agreement) do |form| %>
  <%= form.error_messages %>

  <legend>Agreement for <%= @agreement.repo_name %>:</legend>
  <%= form.label :text, "Choose a Contributor License Agreement for #{@agreement.repo_name}:" %>
  <span class="help-block"></span>
  <%= form.text_area :text, placeholder: 'I, the contributor, agree to...', class: "span12" %>

  <%= form.hidden_field :repo_name %>

  <div class='form-actions'>
    <%= form.button 'Create agreement', :class => 'btn btn-primary' %>
  </div>
<% end %>
