<header>
  <h1>
    Agreement for
    <%= @agreement.user_name %>/<%= @agreement.repo_name %></h1>
</header>

<div class="row">
  <div id="agreement-text"><%== @rendered_agreement_html %></div>
</div>

<div class="row">
  <% if signed_in? %>
    <% if @agreement.signed_by?(current_user) %>
      <a id="already-agreed">
        <i class="icon-ok"></i> You have signed this CLA.
      </a>
    <% else %>
      <%= form_for @signature, url: agreement_signature_path(@agreement.user_name, @agreement.repo_name), html: { class: 'form-horizontal' } do |form| %>
        <%= form.fields_for :field_entries, @signature.field_entries.sort_by(&:ordering) do |f| %>
          <% extra_group_class = f.error_messages.present? ? "error" : ""%>

          <div class="control-group <%= extra_group_class %>">
            <%= f.hidden_field :agreement_field_id %>
            <%= f.label :value, f.object.agreement_field.field.label, class: "control-label" %>
            <div class="controls">
              <%= agreement_field_input(f) %>
              <span class="help-inline"><%= error_message_on f.object, :value %></span>
              <% if description = f.object.agreement_field.field.description %>
                <span class="help-block"><%= description %></span>
              <% end %>
            </div>
          </div>
        <% end %>

        <%= form.button 'I agree', type: 'submit', id: 'agreement-submit' %>
      <% end %>
    <% end %>
  <% else %>
    <a id="sign-in-to-agree" href="/auth/github">Sign in with GitHub to agree to this CLA &raquo;</a>
  <% end %>
</div>

<% if @agreement.owned_by?(current_user) %>
  <%= render partial: 'agreements/contributing_file_link' %>
  <%= render partial: 'agreements/signing_users' %>
<% end %>
