<header>
  <h1>
    Agreement for
    <%= @agreement.user_name %>/<%= @agreement.repo_name %></h1>
</header>

<div class="row">
  <div id="agreement-text"><%== @rendered_agreement_html %></div>
</div>

<div class="row">
  <% if signed_in? %>
    <% if @agreement.signed_by?(current_user) %>
      <a id="already-agreed">
        <i class="icon-ok"></i> You have signed this CLA.
      </a>
    <% else %>
      <label>More fields:</label>
      <ul class="unstyled">
        <% @agreement.enabled_agreement_fields.each do |agreement_field| %>
          <li>
            <%= label_tag "agreement_field_#{agreement_field.id}", agreement_field.field.label %>
          </li>
        <% end %>
      </ul>

      <%= link_to 'I agree',
                  agreement_signature_path(
                    user_name: @agreement.user_name,
                    repo_name: @agreement.repo_name),
                  id: "agree-link",
                  method: :post %>
    <% end %>
  <% else %>
    <a id="agree-link" href="/auth/github">Sign in with GitHub to agree to this CLA &raquo;</a>
  <% end %>
</div>

<% if @agreement.owned_by?(current_user) %>
  <%= render partial: 'agreements/contributing_file_link' %>
  <%= render partial: 'agreements/signing_users' %>
<% end %>
