<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CLAHub</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" href="/touch-icon/iphone.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/touch-icon/ipad.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/touch-icon/iphone-retina.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/touch-icon/ipad-retina.png" />
</head>
<body class="<%= body_class %>">

<% unless @suppress_navbar %>
  <%= render partial: 'shared/navbar' %>
<% end %>

<div class="container">
  <%= render partial: 'shared/flashes' %>
  <%= render partial: 'shared/announcements' %>

  <%= yield %>

  <footer class="row">
    <ul class="footer-links">
      <li class="block">This site uses <a href="http://clahub.com" target="_blank">CLAHub</a> from Jason Morrison</li>
      <!-- <li class="block">&copy; Jason Morrison 2012.  All Rights Reserved.</li> -->
      <!-- <li class="block">CLAHub is a trademark of Jason Morrison.</li> -->
      <li><a href="https://github.com/clahub/clahub">Source Code and Issues</a></li>
      <span class="divider">&bullet;</span>
      <%= nav_link_to 'Privacy Policy', page_path('privacy') %>
      <span class="divider">&bullet;</span>
      <%= nav_link_to 'Terms of Service', page_path('terms') %>
      <% if signed_in? %>
        <span class="divider">&bullet;</span>
        <%= nav_link_to 'Sign Out', sign_out_path %>
      <% end %>
    </ul>
    </div>
  </footer>
</div>

<%= javascript_include_tag "application" %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $("[rel=popover]")
      .popover({ html: true })
      .click(function(e) {
        e.preventDefault();
      })
      .blur(function(e) {
        $(this).popover('hide');
      });
  </script>
<% end %>

<%= yield :javascript %>
<% if ENV['UA_KEY'] %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= ENV['UA_KEY'] %>', '<%= ENV['UA_DOMAIN'] %>');
    ga('send', 'pageview');
  </script>
<% end %>

</body>
</html>
