<!DOCTYPE html>
<html>
<head>
  <title>CLAHub</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

<% unless @suppress_navbar %>
  <%= render partial: 'shared/navbar' %>
<% end %>

<div class="container">
  <%= render partial: 'shared/flashes' %>
  <%= render partial: 'shared/announcements' %>

  <%= yield %>

  <footer class="row">
    <ul class="footer-links">
      <li>&copy; Jason Morrison 2012.  All Rights Reserved.  CLAHub is a trademark of Jason Morrison.</li>
      <span class="divider">&bullet;</span>
      <li><a href="https://github.com/jasonm/clahub">Source Code and Issues</a></li>
      <span class="divider">&bullet;</span>
      <%= nav_link_to 'Privacy Policy', page_path('privacy') %>
      <span class="divider">&bullet;</span>
      <%= nav_link_to 'Terms of Service', page_path('terms') %>
      <% if signed_in? %>
        <span class="divider">&bullet;</span>
        <%= nav_link_to 'Sign Out', sign_out_path %>
      <% end %>
    </ul>
    </div>
  </footer>
</div>

<%= javascript_include_tag "application" %>
<%= yield :javascript %>

</body>
</html>
