<!DOCTYPE html>
<html>
<head>
  <title>Clahub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= render partial: 'shared/flashes' %>
  <%= yield %>

  <hr>

  <footer>
    <p>&copy; Jason Morrison 2012</p>
    <% if signed_in? %>
      <section>
      <a href="/sign_out">Sign Out</a>
      </section>
    <% end %>
  </footer>
</div>

</body>
</html>
